.small-center-form {
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.my-navbar {
  background-color: rgb(98, 188, 72);
}

.playfair {
  font-family: "Playfair Display", serif;
}

.logo {
  width: 60px;
}
